<nav class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">TryMe</a>
      </div>
      <ul class="nav navbar-nav">
        <li> <a [routerLink]="['']">Home</a></li>
        <li> <a [routerLink]="['/play']">Play</a></li>
        <li> <a [routerLink]="['/make-trivia']">Make Trivia</a></li>
        <li> <a [routerLink]="['/my-challenges']">My Challenges</a></li>
      </ul>
      <ul *ngIf="auth.afAuth.authState | async as user; else showLogin" class="nav navbar-nav navbar-right">
        <li><img src = {{user.photoURL}} height="500px" width="50px" /></li>
        <li><a><span>Hello {{user.displayName}}</span></a></li>
        <li><a (click)="auth.logout()"><span>Logout</span></a></li>
      </ul>

      <ng-template #showLogin>
        <ul class="nav navbar-nav navbar-right">
        <li><a (click)="auth.login()"><span>Login with Google</span></a></li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>

