<div id="bg">
  <img src="../../assets/images/bg-20.jpg">
  <!--<h1 class="titleText">Welcome to the TryMe app.</h1>-->

  <div class="container">
    <form>
      <div class="row">
        <h1 style="color: white;">Welcome to TryMe!</h1>
      </div>
      <div class="row">
        <h3 style="text-align:center; color:white;">Login with Social Media</h3>
        <div>
          <a class="fb btn" (click)="auth.loginWithFacebook()">
            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
          </a>
          <br>
          <a class="twitter btn" (click)="auth.loginWithTwitter()">
            <i class="fa fa-twitter fa-fw"></i> Login with Twitter
          </a>
          <br>
          <a class="google btn" (click)="auth.login()">
            <i class="fa fa-google fa-fw"></i> Login with Google
          </a>
        </div>
      </div>
    </form>
  </div>

</div>
