.questionListContainer {
  margin-left: 30%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.cardItem{
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

button{
  margin-bottom: 2rem;
  margin: 1rem;
}

.submitButton {
  text-align: center;
  background: #008080;
  margin: auto;
}

.title {
  font-size: 2rem;
  color: 	#008080;
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  font-size: 2rem;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
