<div *ngIf="questionList" class="md-padding questionListContainer" layout="col" id="bg" layout-wrap>
  <mat-card *ngFor="let question of questionList" class="z-depth-4 cardItem" md-whiteframe="11"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" style="width: 500px;">
    <mat-card-header>
      <mat-card-title>Question: {{question.num}}</mat-card-title>
      <mat-card-subtitle>{{question.question}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <input>
    </mat-card-content>
  </mat-card>

  <!--<div *ngFor="let question of questionList">-->
    <!--<span>{{question.question}}</span><br>-->
    <!--<input>-->
  <!--</div>-->
</div>

