.questionListContainer {
  margin-left: 30%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.cardItem{
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-left: 2rem;
}


