<div *ngIf="auth.afAuth.authState | async as user; else Login">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" [(opened)]="opened" style="width: 250px" class="sidenavContainer">
      <img class="lgImg" src="../../assets/images/TMLogo.png">
    </mat-sidenav>

    <mat-sidenav-content>
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <div class="navbar-header">
              <a (click)="sidenav.toggle()"><img  class="smImg" src="../../assets/images/TMLogo.png"></a>
            </div>
            <ul class="nav navbar-nav">
              <li> <a [routerLink]="['']">Home</a></li>
              <li> <a [routerLink]="['/play']">Play</a></li>
              <li> <a [routerLink]="['/make-trivia']">Make Trivia</a></li>
              <li> <a [routerLink]="['/my-challenges']">My Challenges</a></li>
            </ul>
            <ul *ngIf="auth.afAuth.authState | async as user; else showLogin" class="nav navbar-nav navbar-right">
                <img class="smImg" src = {{user.photoURL}}/>
              <li><a><span>{{user.displayName}}</span></a></li>
              <li *ngIf="admin"> <a [routerLink]="['/admin']" class="adminPanel"><i class="material-icons adminIcon">settings</i>  Admin Panel</a></li>
              <li><a (click)="auth.logout()" class="adminPanel"><i class="material-icons">exit_to_app</i>Logout</a></li>
            </ul>

            <ng-template #showLogin>
              <ul class="nav navbar-nav navbar-right">
                <li><a (click)="auth.login()"><span>Login with Google</span></a></li>
              </ul>
            </ng-template>
          </div>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>


<ng-template #Login>
  <app-login></app-login>
</ng-template>

