<head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Poppins');
  </style>
</head>
<div class="pageContainer">
  <!--<mat-card class="mainCard">-->
    <h2 style="color: teal" class="pageTitle">Create a Challenge</h2>

    <div class="option">
      <span class="optionTitle">Title: </span>
      <input *ngIf="testChallenge" [(ngModel)]="testChallenge.title" maxlength="50"/>
    </div>

    <div class="option">
      <span class="optionTitle">Category: </span>
      <mat-select placeholder="Select Category" [(ngModel)]="testChallenge.category" style="width: 150px">
        <mat-option value="Cars">Cars</mat-option>
        <mat-option value="Educational">Educational</mat-option>
        <mat-option value="History">History</mat-option>
        <mat-option value="Food">Food</mat-option>
        <mat-option value="History">History</mat-option>
        <mat-option value="Other">Other</mat-option>
        <mat-option value="Pop Culture">Pop Culture</mat-option>
        <mat-option value="Riddle">Riddle</mat-option>
      </mat-select>
    </div>


    <!--<div class="option">-->
      <!--<span class="optionTitle">Title: </span>-->
      <!--<input *ngIf="testChallenge" [(ngModel)]="testChallenge.title"/>-->
    <!--</div>-->

    <div class="option" *ngIf="testChallenge.questions">
      <mat-card class="cardOption" *ngFor="let question of testChallenge.questions">
        <span>{{i}}</span>
        <mat-card-content>
          <div class="cardInfo">
            <div class="cardItem">
              <span class="cardLabel">Question: </span>
              <input class="cardInput" [(ngModel)]="question.question"/>
            </div>
            <div class="cardItem">
              <span>Correct Answer: </span>
              <input class="cardInput" [(ngModel)]="question.correctAnswer"/>
            </div>
            <div class="cardItem">
              <span data-placement="left" title="Add a hint to help users answer your question!" onmouseenter="$(this).tooltip('show')">Hint: </span>
              <input class="cardInput" [(ngModel)]="question.hint"/>
            </div>
          </div>
        </mat-card-content>

      </mat-card>
    </div>

    <div *ngIf="testChallenge.questions" class="questionActionButtons">
      <button mat-fab style="background-color: teal; color: white;" (click)="addQuestion()">+</button>
      <button [disabled]="testChallenge.questions.length < 2" mat-fab style="background-color: teal; color: white;" (click)="removeQuestion()">-</button>
    </div>

    <div class="pageActionButtons">
      <button mat-raised-button (click)="saveChallenge()">Save</button>
      <button mat-raised-button (click)="clearPage()">Clear</button>
    </div>
  <!--</mat-card>-->

</div>
