.gridWrapper{
  padding-left: 5%;
  margin-right: 0%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  background-color: #f2f2f2;
  padding-top: 10px;
}
.cardItem{
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-left: 2rem;

}
.cardActions{
  display: flex;
  justify-content: center;
}

.cardContent{
  display: flex;
  margin-left: 1rem;
}

.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.searchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  height: 90px;
  flex-flow: row nowrap;
  padding-right: 20%;
  padding-left: 20%;
  background-color: teal;
}

.searchInput{
  width: 200px!important;
}

.searchButton {

}
.pageContainer {
  background-color: #f2f2f2;
  margin-top: -2rem;
}

.filterButton {
  display: flex;
  justify-content: center;
  margin-left: 47%;
}

.btnSpace{
  padding-bottom: 1rem;
}
