.gridWrapper{
  margin-left: 5%;
  margin-right: 0%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}
.cardItem{
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.cardActions{
  display: flex;
  justify-content: center;
}

.cardContent{
  display: flex;
  margin-left: 1rem;
}

.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.searchInput{

}

.searchButton {

}
#bg img {
  position: absolute;
  background: url("../../assets/images/bg-21.png") repeat-y;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 100%;
  max-height: 1200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}
.bg {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/bg-21.png");
  background-repeat: repeat;
  /*background-position: 50% 90%, 50% bottom, center;*/
}
#overlay {
  position: relative; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
.color-overlay{
  width: 100%;
  height: 995px;
  background: #000000;
  opacity: .1;
  position: absolute;
}
