<img class="homePic" src="../../assets/images/bg-10.jpg">
<div *ngIf="auth.afAuth.authState | async as user" class="container">
 <h1 class = "title">Hi {{user.displayName.toString().split(' ')[0]}}!</h1>
  <div class="trivia-options" >
    <div class="trivia-option__play">
      <button mat-button (click)="goToPlayTrivia()">Play a Trivia</button>
    </div>
    <div class="trivia-option__make">
      <button mat-button (click)="goToMakeTrivia()">Make a Trivia</button>
    </div>
  </div>
  <!--<img class="avatarPic" src = {{user.photoURL}} height="500px" width="50px"/>-->
  <br>
  <div class="statContainer">
    <h2>Statistics</h2>

    <!--<div class="statCardGrid">-->

    <!--</div>-->
  </div>
</div>
<img class="logoPic" src="../../assets/images/TMLogo.png">

<!--<app-google-map style="width: 100%; display: flex; justify-content: center"></app-google-map>-->
