<div *ngIf="admin; else NoAccess" class="pageContainer">
  <mat-card *ngIf="showSearch; else Filter" class="searchBarContainer">
    <span>Filter: </span>
    <mat-form-field>
      <input matInput="search" (keyup.enter)="searchChallenge(search.title, search.author, search.category)" class="searchInput" placeholder="Title" [(ngModel)] ="search.title">
    </mat-form-field>

    <mat-form-field>
      <input matInput="search" (keyup.enter)="searchChallenge(search.title, search.author, search.category)" class="searchInput" placeholder="Author" [(ngModel)] ="search.author">
    </mat-form-field>

    <mat-select placeholder="Select Category" [(ngModel)]="search.category" style="width: 250px">
      <mat-option value="">All</mat-option>
      <mat-option value="Cars">Cars</mat-option>
      <mat-option value="Educational">Educational</mat-option>
      <mat-option value="Food">Food</mat-option>
      <mat-option value="History">History</mat-option>
      <mat-option value="Other">Other</mat-option>
      <mat-option value="Pop Culture">Pop Culture</mat-option>
      <mat-option value="Riddle">Riddle</mat-option>
    </mat-select>
    <button type="button" class="btn btn-dark" (click)="searchChallenge(search.title, search.author, search.category)" >Search</button>
    <button type="button " class="btn btn-dark" (click)="showSearch = !showSearch">Hide</button>
  </mat-card>

  <div *ngIf="reportList" class='md-padding gridWrapper' layout="row" layout-wrap>
    <mat-card *ngFor="let report of reportList" class="z-depth-4 cardItem" md-whiteframe="11" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" style="width: 350px;">
      <mat-card-header>
        <mat-card-title>{{report.challengeTitle}}</mat-card-title>
        <mat-card-subtitle>Author: {{report.author}}</mat-card-subtitle>
      </mat-card-header>

      <div class="cardContent">
      <span>Category: {{report.category}} <br>
      Last Reported: {{report.date | date:'MM/dd/yyyy h:mm: a'}} PST <br>
      Reason: {{report.reason}}<br></span>
      </div>

      <br>
      <div class="md-actions cardActions" layout="row" layout-align="end center">
        <button style="background: transparent; border-color: transparent"><i class="material-icons" (click)="openDialog(report)" matTooltip="Preview">pageview</i></button>
        <button style="background: transparent; border-color: transparent"><i class="material-icons" (click)="markResolved(report.$key)" style="color: #4CAF50;" matTooltip="Mark as Resolved">check_circle_outline</i></button>
        <button style="background: transparent; border-color: transparent"><i class="material-icons" (click)="deleteChallenge(report)" style="color: #dd4b39" matTooltip="Delete Challenge and Mark Resolved">delete</i></button>

      </div>
    </mat-card>
  </div>

  <ng-template #Filter>
    <div class="btnSpace"></div>
    <button type="button " class="btn btn-dark filterButton" (click)="showSearch = !showSearch">Show Filter</button>
  </ng-template>
</div>


<ng-template #NoAccess>
  <div>
    <h2>Unauthorized Access: You do not have admin privileges</h2>
  </div>
</ng-template>
